<table>
    <tr>
        <td [attr.colSpan]="1 + 1">
            <img [attr.src]="itemImageUrl" />
        </td>
    </tr>
    <tr>
        <td>
             <div [ngClass]="isSpecial ? 'special' : ''">Is special</div>
        </td>
    </tr>
    <tr>
        <td>
            <div [ngClass]="currentClasses">Multiple classes</div>
        </td>
    </tr>
    <tr>
        <td>
            <div [ngStyle]="currentStyle">Styled dir</div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="example">{{name}}</label>
            <input [(ngModel)]="name" type="text" id="example">
        </td>
    </tr>
</table>
